html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #6ca3fc;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quoteBox {
  margin: 25px auto;
  min-height: 200px;
  max-width: 85%;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#quoteTxt {
  font-size: 34px;
}

#author {
  display: block;
  font-size: 20px;
}

#btnMobile {
  display: none;
}

button {
  margin-bottom: 15px;
  border: none;
  color: #6ca3fc;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 670px) {
  body {
    justify-content: flex-start;
  }
  #btn {
    display: none;
  }
  #btnMobile {
    position: fixed;
    height: 45px;
    width: 45px;
    display: block;
    right: 15px;
    bottom: 0px;
    opacity: 0.5;
    padding: 0;
  }
}